# ========================
# JAVA / SPRING BOOT
# ========================
*.class
*.jar
*.war
*.ear
target/
build/
.mvn/

# ========================
# MAVEN
# ========================
pom.xml.tag
pom.xml.releaseBackup
dependency-reduced-pom.xml

# ========================
# SPRING BOOT
# ========================
application-local.properties
application-local.yml
application-dev.yml
*.env

# ========================
# VUE.JS / NODE
# ========================
node_modules/
dist/
.vite/
*.local
npm-debug.log*

# ========================
# DOCKER
# ========================
docker-compose.override.yml
.env
.env.local
.env.*.local

# ========================
# POSTGRESQL
# ========================
pgdata/
postgres-data/

# ========================
# INTELLIJ
# ========================
.idea/
*.iml
*.iws
out/

# ========================
# VSCODE
# ========================
.vscode/

# ========================
# SISTEMA OPERATIVO
# ========================
.DS_Store
Thumbs.db
desktop.ini

# ========================
# LOGS
# ========================
logs/
*.log

# ========================
# SEGURIDAD
# ========================
*.pem
*.key
*.p12
*.jks
secrets/

# ENV files
infrastructure/docker/.env
.env